.Footer{
    width: 100%;
    position: fixed;
    left: 0px;
    background-color: whitesmoke;
    bottom: 0%;
    display: inline-flex;
    align-items: center;
    padding: 20px 20px;
  }
  .Footer svg{
  cursor: pointer;
}
#mail:hover{
  color: slategray;
}