.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  margin-top: 50px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #000;
  display: flex;
  flex-flow: row;
}
.text{
  font-family: 'Montserrat';
  display: inline-block;
  width: 50%;
}
.text p{
  line-height: 1.5;
  width: 550px;
}
.img{
  display: inline-block;
  width: 30%;
}
.contact{
  display: inline-block;
  width: 20%;
}
.contact button{
  top: 0px;
}
.img img{
  margin-left: 30px;
  width: 200px;
  height: 300px;
}
#contactBlock{
  width: 25%;
  color: black;
  transition: right 0.3s;
  position: fixed;
  right: -100%;
}
#contactBlock h1{
  font-family: 'Montserrat';
  font-weight: bold;
}
#contactBlock p{
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
}